@font-face {
                font-family: Plain;
                font-display: swap;
                src: url("../fonts/Plain-Bold.woff2") format("woff2"),
                     url("../fonts/Plain-Bold.woff") format("woff");
                font-weight: 700;
                font-style: normal;
              }
@font-face {
                font-family: Plain;
                font-display: swap;
                src: url("../fonts/Plain-Regular.woff2") format("woff2"),
                     url("../fonts/Plain-Regular.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: Plain;
                font-display: swap;
                src: url("../fonts/Plain-Light.woff2") format("woff2"),
                     url("../fonts/Plain-Light.woff") format("woff");
                font-weight: 300;
                font-style: normal;
              }
